.btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}
.btn-check:active + .btn-outline-primary, .btn-check:checked + .btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.bd-example > .btn, .bd-example > .btn-group {
    margin: .25rem .125rem;
}
.btn-outline-primary {
    color: #0d6efd;
    border-color: #0d6efd;
}
.vehicle-prob-box label {
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #1d1d1d;
    letter-spacing: -0.23px;
    font-size: 14px;
    text-align: center;
    color: #1d1d1d;
    line-height: normal;
    font-weight: normal;
    padding: 10px 12px;
    min-width: 60px;
    white-space: nowrap;
    margin: 8px;
    float: left;
    width: auto;
}
.col-xs-12 {
    width: 100%;
}
.btn-group, .btn-group-vertical {
    display: inline-block;
}
.form-control {
    font-size: 1.6rem;
}
btn-group-vertical > .btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.btn-group.dropdown .btn-default {
    text-align: left;
}
.btn-group > .btn:first-child {
    margin-left: 0px;
}
#pac-input, #number-plate, #vehicle-color, #vehicle-maker, #vehicle-model, #first-name, #phone-number {
    font-size: 14px;
    width: 100%;
    height: 48px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    margin-bottom: 10px;
}
@media (min-width: 992px) {
    .col-md-6 {
        width: 50%;
    }
}
@media (min-width: 992px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }
}
