html {
    font-size: 62.5%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-font-feature-settings: inherit;
    overflow-x: hidden;
}

body {
    font-family: Arial, Verdana, sans-serif;
    color: #000;
    background-color: #f1f1f1;
    height: 100%;
    overflow: hidden;
}

body > div {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

h1, h2, p {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
}

svg {
    display: block;
}

a:focus, a:visited, a:active {
    outline: 0;
}

.close-x {
    stroke: #000;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 5;
}

@font-face {
    font-family: "NewTransport-Bold";
    src: url("../fonts/NewTransportAA-Bold.eot");
    src: url("../fonts/NewTransportAA-Bold.eot?#iefix") format("embedded-opentype");
    src: url("../fonts/NewTransportAA-Bold.woff2") format("woff2"), url("../fonts/NewTransportAA-Bold.woff") format("woff"), url("../fonts/NewTransportAA-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NewTransport-Italic";
    src: url("../fonts/NewTransportAA-Italic.eot");
    src: url("../fonts/NewTransportAA-Italic.eot?#iefix") format("embedded-opentype");
    src: url("../fonts/NewTransportAA-Italic.woff2") format("woff2"), url("../fonts/NewTransportAA-Italic.woff") format("woff"), url("../fonts/NewTransportAA-Italic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NewTransport-Light";
    src: url("../fonts/NewTransportAA-Light.eot");
    src: url("../fonts/NewTransportAA-Light.eot?#iefix") format("embedded-opentype");
    src: url("../fonts/NewTransportAA-Light.woff2") format("woff2"), url("../fonts/NewTransportAA-Light.woff") format("woff"), url("../fonts/NewTransportAA-Light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NewTransport-Regular";
    src: url("../fonts/NewTransportAA-Regular.eot");
    src: url("../fonts/NewTransportAA-Regular.eot?#iefix") format("embedded-opentype");
    src: url("../fonts/NewTransportAA-Regular.woff2") format("woff2"), url("../fonts/NewTransportAA-Regular.woff") format("woff"), url("../fonts/NewTransportAA-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.col-md-12, .col-xs-12 {
    padding-left: 10px;
    padding-right: 10px;
}

.address-row {
    margin-top: 20px;
}

@media screen and (max-width: 737px) {
    .content {
        padding-top: 50px;
    }
}

@media screen and (min-width: 738px) {
    .progress {
        display: none;
    }

    .content {
        padding-top: 111px;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: "NewTransport-Bold";
}

p {
    font-family: Arial, Verdana, Sans-serif;
    margin: 0 0 13px;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #1d1d1d;
}

h1 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.25px;
    text-align: left;
    color: #1d1d1d;
    font-family: "NewTransport-Bold", Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
    margin-bottom: 16px;
}

header {
    position: fixed;
    width: 100%;
    height: 48px;
    z-index: 1;
}

header h1 {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "NewTransport-Bold", Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

header .page-title {
    padding-left: 22.2%;
}

header h1.page-title {
    font-family: "NewTransport-Regular", Arial, Helvetica, Verdana, sans-serif;
    font-weight: normal !important;
    color: #1d1d1d;
    font-size: 15px;
    letter-spacing: 0.025em;
    text-align: left;
    margin: 0;
    text-transform: uppercase;
    padding: 6px 0 10px 350px;
    width: 80%;
}

.brand {
    height: 48px;
    width: 100%;
    position: relative;
    background-color: #fff;
    box-shadow: none;
    border-bottom: 1px solid #dcddde;
}

#logo {
    position: absolute;
    z-index: 2;
    background: url(/static/images/logo4.png);
    background-repeat: no-repeat;
    background-size: 178px;
    background-position-x: -92px;
    background-position-y: -12px;
    width: 89px;
    height: 48px;
    left: 0;
    top: 0;
}

.progress {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 0;
    height: 4px;
    background-color: #e4e4e4;
    box-shadow: none;
}

.progress-bar {
    box-shadow: none;
    position: relative;
    background: #06757f;
    border-radius: 2px;
}

.progress-bar-plan {
    box-shadow: none;
    position: relative;
    border-top-right-radius: 0;
    background: #06757f;
    width: 33%;
}

.progress-bar-head {
    box-shadow: none;
    position: relative;
    border-top-right-radius: 0;
    background: #06757f;
    width: 66%;
}

.progress-bar-arrvd {
    box-shadow: none;
    position: relative;
    border-top-right-radius: 0;
    background: #06757f;
    width: 100%;
}

.box {
    border: 1px solid #dcddde;
    background: #fff;
    padding: 30px 125px 30px;
    margin-bottom: 30px;
    max-width: 1160px;
    margin: 0 auto;
}

.confirmation-box {
    margin-top: 30px;
}

.call-us-btn {
    margin: 23px 15px 0 15px;
}

.bullet-list {
    font-family: Arial, Verdana, Sans-serif;
    padding-left: 25px;
}

.bullet-list li {
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #1d1d1d;
}

@media screen and (min-width: 738px) {
    .steps-nav, .steps-indicator {
        display: none;
    }
}

@media screen and (max-width: 737px) {
    .steps-nav {
        width: 100%;
        display: block;
    }

    .steps-indicator {
        float: right;
        margin-right: 20px;
        margin-top: 11px;
        position: relative;
        right: 0;
        z-index: 1;
    }

    .steps-indicator a {
        font-size: 13px;
        color: #1d1d1d;
        letter-spacing: -0.25px;
        line-height: 24px;
        padding-right: 10px;
        padding-top: 1px;
        display: block;
        position: relative;
        font-family: "NewTransport-Bold", Arial, Helvetica, Verdana, sans-serif;
        font-weight: bold;
    }

    .steps-indicator a:hover, .steps-indicator a:active, .steps-indicator a:visited {
        text-decoration: none;
    }

    .steps-indicator a:after {
        background: url(../images/down.svg) no-repeat 0 0 transparent;
        background-size: contain;
        content: "";
        display: block;
        height: 24px;
        position: absolute;
        right: 0;
        top: 1px;
        transition: all 0.2s ease;
        width: 24px;
    }

    .steps-indicator a.active:after {
        background: url(../images/close-icon-dark-x2.png) no-repeat 0 0 transparent;
        background-size: contain;
        content: "";
        display: block;
        height: 14px;
        position: absolute;
        right: 4px;
        top: 6px;
        transition: all 0.2s ease;
        width: 14px;
    }

    .steps-nav ul {
        display: none;
        background: #fff;
        padding: 0;
        top: 50px;
        opacity: 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 4px 0 rgba(138, 138, 138, 0.47);
        margin: 0;
        position: absolute;
        width: 100%;
        transition: all 0.5s ease-in 0s;
        -webkit-transition: all 0.5s ease-in 0s;
        -moz-transition: all 0.8s ease-in 0s;
        -ms-transition: all 0.5s ease-in 0s;
        -o-transition: all 0.5s ease-in 0s;
        z-index: 10;
    }

    .steps-nav ul.show-dd {
        transition: all 0.5s ease-out 0s;
        top: 44px;
        opacity: 1;
        -webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.8s ease-out 0s;
        -ms-transition: all 0.5s ease-out 0s;
        -o-transition: all 0.5s ease-out 0s;
        z-index: -1;
    }

    .steps-nav ul li {
        font-weight: 400;
        list-style-type: none;
        padding: 14px 20px;
        background-color: #f7f7f7;
        border-top: 1px solid #ddd;
        color: #5e5e5e;
        font-family: "NewTransport-Regular", Arial, Helvetica, Verdana, sans-serif;
        font-weight: 400;
        line-height: 2.1rem;
        position: relative;
        display: block;
    }

    .steps-nav ul li:first-child {
        border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
    }

    .steps-nav ul li.completed {
        cursor: pointer;
        background-color: #fff;
        color: #06757f;
        font-family: "NewTransport-Bold", Arial, Helvetica, Verdana, sans-serif;
        font-weight: bold;
    }

    .steps-nav ul li.active {
        background-color: #06757f;
        color: #fff;
        font-family: "NewTransport-Bold", Arial, Helvetica, Verdana, sans-serif;
        font-weight: bold;
    }

    .steps-nav ul li:last-child {
        -moz-border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
    }

    .steps-nav ul li:first-child:before {
        content: "";
        position: absolute;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        background: url(../images/step-navigation-active-arrow-x2.png) no-repeat 0 0 transparent;
        border-radius: 0;
        display: block;
        height: 14px;
        left: auto;
        right: 10px;
        top: -14px;
        width: 27px;
        background-size: 3rem auto;
        right: 1.3rem;
        width: 3rem;
    }

    .steps-nav ul li.completed:first-child:before {
        background-image: url(../images/step-navigation-arrow-x2.png);
    }
}

.box a {
    color: #06757f;
    font-weight: bold;
    text-decoration: none;
    outline: 0;
}

box a:hover, box a:visited {
    color: #000;
    text-decoration: none;
    outline: 0;
}

.btn-flex-width {
    border-radius: 4px;
    border: #fbc000 solid 1px;
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 500;
    height: 48px;
    line-height: 26px;
    background-image: linear-gradient(to bottom, #fc0, #f9b800) !important;
    box-shadow: inset 0 1px 1px #fff, 0px 1px 2px rgba(147, 149, 152, 0.5);
    font-family: "NewTransport-bold", Arial, Helvetica, Verdana, sans-serif;
    background-color: #fc0;
    border-color: #fc0;
    font-weight: bold;
}

.btn-flex-width.safety-button {
    padding: 0 30px;
}

.btn-flex-width:active, .btn-flex-width:focus {
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    box-shadow: inset 0 0 10px rgba(178, 143, 4, 0.35);
    transform: scale(0.95);
}

.btn-full-width {
    width: 100%;
    max-width: 180px;
    border-radius: 4px;
    border: #fbc000 solid 1px;
    color: #1d1d1d;
    font-size: 18px;
    height: 48px;
    line-height: 26px;
    background-image: linear-gradient(to bottom, #fc0, #f9b800) !important;
    box-shadow: inset 0 1px 1px #fff, 0px 1px 2px rgba(147, 149, 152, 0.5);
    font-family: "NewTransport-bold", Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
    background-color: #fc0;
    border-color: #fc0;
}

.btn-full-width:active, .btn-full-width:focus {
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    box-shadow: inset 0 0 10px rgba(178, 143, 4, 0.35);
    transform: scale(0.95);
}

a.btn-full-width {
    width: 100%;
    max-width: 160px;
    display: inline-block;
    border-radius: 4px;
    border: #fbc000 solid 1px;
    color: #1d1d1d;
    font-size: 18px;
    letter-spacing: 0.3px;
    height: 48px;
    line-height: 26px;
    background-image: linear-gradient(to bottom, #fc0, #f9b800) !important;
    box-shadow: inset 0 1px 1px #fff, 0px 1px 2px rgba(147, 149, 152, 0.5);
    font-family: "NewTransport-bold", Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
    background-color: #fc0;
    border-color: #fc0;
    vertical-align: middle;
    text-align: center;
    padding: 9px 20px;
    text-decoration: none;
}

.btn-full-width:hover, a.btn-full-width:hover {
    background: #fc0;
    background-image: none !important;
}

.btn-full-secondary {
    width: 100%;
    max-width: 180px;
    font-size: 18px;
    font-size: 1.8rem;
    letter-spacing: 0.3px;
    height: 48px;
    line-height: 20px;
    border-radius: 5px;
    font-family: "NewTransport-bold", Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    background: transparent;
    border: 2px solid #1d1d1d;
    border: 0.2rem solid #1d1d1d;
    /*box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);*/
    color: #1d1d1d;
}

.btn-full-secondary.processing {
    -moz-background-size: 16px 16px;
    -ms-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    -webkit-background-size: 16px 16px;
    background-color: #dcddde;
    background-image: url("../images/processing.gif");
    background-position: 80% 50%;
    background-repeat: no-repeat;
    /*box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.4);*/
}

.btn-full-secondary:hover {
    background: #dcddde;
    border: 2px solid;
    border: 0.2rem solid;
}

.btn-full-secondary:active, .btn-full-secondary:focus {
    -moz-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.4);
    -moz-transform: scale(0.95) translateZ(0);
    -ms-transform: scale(0.95) translateZ(0);
    -o-transform: scale(0.95) translateZ(0);
    -webkit-transform: scale(0.95) translateZ(0);
    background: #dcddde;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.4);
    letter-spacing: 0.002em;
    transform: scale(0.95) translateZ(0);
    outline: 0;
}

.confirmation-btn {
    width: 100%;
    border-radius: 4px;
    font-weight: normal;
    height: 48px;
    background: #fff;
    border: solid 2px #1d1d1d;
    font-family: "NewTransport-bold", Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.3px;
}

.confirmation-btn:disabled {
    color: #aaa;
    background: #efefef;
}

.confirmation-btn:active, .confirmation-btn:focus, .confirmation-btn.selected {
    background: #fc0;
    border: solid 2px transparent;
    outline: 0;
}

.confirmation-col {
    padding: 0 5px 0 5px;
}

.row.formRow.confirmation-box {
    margin-left: -5px;
    margin-right: -5px;
}

.btn-start {
    margin: 8px 0;
}

#map {
    width: 100%;
    height: 212px;
    border-top: solid 1px #c7c8ca;
    border-bottom: solid 1px #c7c8ca;
}

.form-group label {
    font-weight: normal;
    margin-bottom: 8px;
    font-size: 15px;
    font-family: "NewTransport-Regular", Arial, Helvetica, Verdana, sans-serif;
    color: #1d1d1d;
}

.form-group input.form-control {
    padding: 0.8rem 1.6rem;
    font-size: 1.6rem;
    display: block;
    width: 100%;
    max-width: 360px;
    height: 48px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-group input.form-control:focus {
    -moz-box-shadow: inset 0 0 1px 2px #fbc400, 0 0 2px 1px rgba(167, 169, 172, 0);
    -webkit-box-shadow: inset 0 0 1px 2px #fbc400, 0 0 2px 1px rgba(167, 169, 172, 0);
    background-color: #fefbf1;
    box-shadow: inset 0 0 1px 2px #fbc400, 0 0 2px 1px rgba(167, 169, 172, 0);
    border: 0;
}

.form-group.has-success input.form-control:focus {
    -moz-box-shadow: inset 0 0 1px 2px #fbc400, 0 0 2px 1px rgba(167, 169, 172, 0);
    -webkit-box-shadow: inset 0 0 1px 2px #fbc400, 0 0 2px 1px rgba(167, 169, 172, 0);
    background-color: #fefbf1;
    box-shadow: inset 0 0 1px 2px #fbc400, 0 0 2px 1px rgba(167, 169, 172, 0);
    border: 0;
}

.form-group.has-error input.form-control {
    border-color: #da0076 !important;
    box-shadow: inset 0 0 0 1px #ec7fba !important;
}

.invalid-input .brk-text-box {
    border-color: #da0076 !important;
    box-shadow: inset 0 0 0 1px #ec7fba !important;
}

.form-group.has-success input.form-control {
    border-color: #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.page-loader {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

#loader {
    background-color: #dcddde;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#loader > span {
    -moz-background-size: 16px 16px;
    -ms-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    -webkit-background-size: 16px 16px;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-image: url("../images/processing.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    display: block;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#container-userdetails {
    z-index: 2;
}

#container-userdetails h1 {
    margin-bottom: 15px;
}

#container-userdetails label {
    font-family: 'NewTransport-Regular', Arial, Verdana, sans-serif;
    font-size: 14px;
    text-align: left;
    color: #2b2d32;
}

#container-userdetails .membernumber {
    width: 41%;
}

#container-userdetails p {
    width: 100%;
    height: 17px;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.1px;
    text-align: left;
    color: #da0076;
    display: inline;
}

#container-userdetails .error {
    background-image: url("../images/error-icon.png");
    background-repeat: no-repeat;
    padding-right: 20px;
}

#container-userdetails .form-group {
    margin-bottom: 15px;
}

#container-userdetails .membership-link {
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 1.57;
    text-align: left;
    color: #06757f;
}

#container-userdetails .membership-link-div {
    margin-left: -25px;
}

#container-userdetails .user-details-btn {
    margin: 28px 0 28px;
}

#container-userdetails .help-block {
    width: 95%;
}

#container-userdetails .re-captch-container {
    padding-bottom: 15px;
}

#container-userdetails .re-captch-container .grecaptcha-badge {
    margin: 0 auto;
}

.row.formRow {
    margin-left: 0;
    margin-right: 0;
}

.buttons-row {
    margin-top: 20px;
}

.report-footer {
    max-width: 1160px;
}

.report-footer button {
    padding: 0;
    margin-top: 24px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'NewTransport-Bold', Arial, Verdana, sans-serif;
    font-weight: bold;
    line-height: 24px;
    background: 0;
    border: 0;
    color: #06757f;
}

.report-footer button.prev img {
    margin-right: 0;
}

.report-footer button span {
    display: inline-block;
    /*vertical-align: middle;*/
}

.report-footer button.prev {
    float: left;
    /*margin-left: 24px;*/
}

@-moz-document url-prefix() {
    #logo {
        background-size: 88px 44px;
    }
}

.loc-Postcode-text p {
    font-family: Arial;
    font-size: 14px;
    line-height: 1.57;
    text-align: left;
    color: #1d1d1d;
    margin: 0;
}

.confirmation-box-postcode {
    margin-top: 20px;
}

.loc-Postcode-h1 {
    margin-bottom: 8px;
}

.loc-match p {
    margin-top: 14px;
    color: #2b2d32;
    margin-bottom: 0;
    line-height: 20px;
}

#container-addressdetails {
    z-index: 2;
}

#container-addressdetails h1 {
    margin-bottom: 16px;
}

#container-addressdetails label {
    font-family: 'NewTransport-Regular', Arial, Verdana, sans-serif;
    font-size: 15px;
    text-align: left;
    color: #1d1d1d;
    padding-top: 0;
    margin-bottom: 8px;
}

#container-addressdetails .membernumber {
    width: 41%;
}

#container-addressdetails p {
    width: 100%;
    height: 17px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.1px;
    text-align: left;
    color: #da0076;
    display: inline;
}

#container-addressdetails .error {
    background-image: url("../images/error-icon.png");
    background-repeat: no-repeat;
    padding-right: 20px;
}

#container-addressdetails .form-group {
    margin-bottom: 24px;
}

#container-addressdetails .membership-link {
    width: 250px;
    height: 44px;
    font-style: normal;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.57;
    text-align: left;
    color: #06757f;
}

#container-addressdetails .membership-link-div {
    margin-left: -25px;
}

#container-addressdetails .address-details-btn {
    /*margin-top: 20px;*/
}

#container-addressdetails .help-block {
    width: 95%;
}

.messageContainer.help-block {
    margin: 0;
}

.vs-link-div {
    margin-top: 24px;
}

.vehicle-details {
    font-size: 18px;
    font-weight: bold;
    float: left;
    color: #1d1d1d;
    letter-spacing: 0.6px;
    padding: 10px 20px;
    background: #fdc800;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
}

.vehicle-details span {
    margin-left: 5px;
    letter-spacing: normal;
}

.radio-choice-wrap {
    display: table;
    width: 100%;
}

.radio-choice-wrap .radio-choice {
    display: table-cell;
    float: left;
    position: relative;
}

.radio-choice-wrap .radio-choice input[type="radio"] {
    margin: 0;
    border: 0;
    height: 1.8em;
    float: left;
    position: relative;
}

.radio-choice label {
    font-family: 'NewTransport-Regular', Arial, Verdana, sans-serif;
    font-size: 14px;
    vertical-align: middle;
    margin: 0 5px;
    color: #2b2d32;
}

.radio-choice label.selected-lbl {
    font-weight: bold;
}

.radio-choice-wrap .radio-choice input[type=radio] {
    width: 2em;
    opacity: 0;
}

.radio-choice-wrap .radio-choice input[type='radio']:checked:before {
    background: #fdc800;
}

.radio-choice-wrap .radio-choice[data-type="radio"]:before {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    -webkit-transition: opacity 0.2s ease;
    border: 1px solid #ccc;
    border-radius: 50%;
    content: "";
    display: block;
    height: 24px;
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s ease;
    width: 24px;
    left: 2px;
}

.radio-choice-wrap .radio-choice[data-type="radio"]:hover:before, .radio-choice-wrap .radio-choice[data-type="radio"].focus:before {
    -moz-animation: pulse 2s linear infinite;
    -ms-animation: pulse 2s linear infinite;
    -o-animation: pulse 2s linear infinite;
    -webkit-animation: pulse 2s linear infinite;
    animation: pulse 2s linear infinit;
}

.radio-choice-wrap .radio-choice .circle {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 3px solid #ccc;
    left: 2px;
    border-radius: 100%;
}

.radio-choice-wrap .radio-choice .circle.checked-icon {
    border: 3px solid #ccc;
}

.radio-choice-wrap .radio-choice .circle.checked-icon > span {
    width: 14px;
    background: #fdc800;
    height: 14px;
    border-radius: 100%;
    position: absolute;
    box-shadow: inset 0 0 1px 2px rgba(0, 16, 10, 0.1);
}

.radio-choice-wrap .radio-choice .circle > span {
    width: 14px;
    background: #fff;
    height: 14px;
    border-radius: 100%;
    position: absolute;
    top: 2px;
    left: 2px;
}

.vehicle-details-box {
    background: #f1f1f1;
    padding: 10px 0;
}

.vehicle-details-box p {
    font-family: 'NewTransport-Regular', Arial, Verdana, sans-serif;
    line-height: 19px;
    letter-spacing: 0.2px;
    margin-bottom: 5px;
}

.vehicle-prob-box .prob-list {
    margin: 0 -8px;
}

.vehicle-prob-box a {
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #1d1d1d;
    letter-spacing: -0.23px;
    font-size: 14px;
    text-align: center;
    color: #1d1d1d;
    line-height: normal;
    font-weight: normal;
    padding: 10px 12px;
    min-width: 60px;
    white-space: nowrap;
    margin: 8px;
    float: left;
    width: auto;
}

.vehicle-prob-box a:active, .vehicle-prob-box a:focus, .vehicle-prob-box a.selected {
    background-color: #fc0;
    border-color: #fc0;
}

.nav-wizWrap {
    background-color: #f1f1f1;
    position: relative;
    border-bottom: 1px solid #d4d4d4;
}

.progess-line {
    position: absolute;
    bottom: 0;
    left: -3px;
    border: 1.5px solid #07828d;
    z-index: 14;
}

.progess-line:after {
    position: absolute;
    right: -4px;
    top: -2px;
    content: '';
    height: 3px;
    width: 2px;
    background: #07828d;
}

.progess-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    height: 40px;
    width: 50%;
}

ul.nav-wizard {
    background-color: #f1f1f1;
    padding: 0;
    zoom: 1;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

ul.nav-wizard li {
    font-family: 'NewTransport-Regular', Arial, Verdana, sans-serif;
    position: relative;
    height: 40px;
    display: inline-block;
    text-align: center;
    min-width: 100px;
    padding: 0 20px 0 24px;
    margin: 0;
    font-size: 15px;
    line-height: 37px;
    width: 19%;
    float: left;
    letter-spacing: 0.23px;
    color: #5E5E5E;
}

ul.nav-wizard li a {
    color: #333;
    padding: 0;
    display: inline-block;
}

ul.nav-wizard li a:hover {
    background-color: transparent;
}

ul.nav-wizard li:before {
    position: absolute;
    display: block;
    border: 21px solid transparent;
    border-left: 13px solid #d4d4d4;
    border-right: 0;
    top: -1px;
    z-index: 10;
    content: '';
    right: -13px;
}

ul.nav-wizard li:after {
    position: absolute;
    display: block;
    border: 21px solid transparent;
    border-left: 13px solid #f1f1f1;
    border-right: 0;
    top: -1px;
    z-index: 10;
    content: '';
    right: -11px;
}

ul.nav-wizard li.active {
    font-family: 'NewTransport-Bold', Arial, Verdana, sans-serif;
    font-weight: bold;
    color: #333;
    background: #fff;
    border-bottom: 2.5px solid #07828d;
}

ul.nav-wizard li.completed {
    font-family: 'NewTransport-Bold', Arial, Verdana, sans-serif;
    font-weight: bold;
    color: #333;
    background: #fff;
    border-bottom: 2.5px solid #07828d;
    color: #333;
}

ul.nav-wizard li.active:after, ul.nav-wizard li.completed:after {
    border: 20px solid transparent;
    border-left: 12px solid #fff;
    border-right: 0;
    top: -2px;
}

ul.nav-wizard li.active:before, ul.nav-wizard li.completed:before {
    border: 20px solid transparent;
    border-left: 12px solid #d4d4d4;
    border-right: 0;
    top: -2px;
}

ul.nav-wizard li.active {
    color: #07828d;
    background: #fff;
}

ul.nav-wizard li.active:active, ul.nav-wizard li.active:visited, ul.nav-wizard li.active:focus {
    color: #07828d;
    background: #fff;
}

ul.nav-wizard.nav-wizard-backnav li:hover {
    color: #333;
    background: #f1f1f1;
}

ul.nav-wizard.nav-wizard-backnav li:hover:after {
    border-left: 16px solid #f6fbfd;
}

ul.nav-wizard.nav-wizard-backnav li:hover a {
    color: #333;
    background: #f1f1f1;
}

ul.nav-wizard.nav-wizard-backnav li:hover a:active, ul.nav-wizard.nav-wizard-backnav li:hover a:visited, ul.nav-wizard.nav-wizard-backnav li:hover a:focus {
    color: #333;
    background: #f1f1f1;
}

ul.nav-wizard.nav-wizard-backnav .active ~ li {
    color: #333;
    background: #fff;
}

ul.nav-wizard.nav-wizard-backnav .active ~ li:after {
    border-left: 12px solid #ededed;
}

ul.nav-wizard.nav-wizard-backnav .active ~ li a {
    color: #333;
    background: #fff;
}

ul.nav-wizard.nav-wizard-backnav .active ~ li a:active, ul.nav-wizard.nav-wizard-backnav .active ~ li a:visited, ul.nav-wizard.nav-wizard-backnav .active ~ li a:focus {
    color: #333;
    background: #fff;
}

.desktop-tablet-view {
    display: none;
}

.mobile-view {
    display: block;
}

@media screen and (max-width: 1366px) {
    #logo {
        background-size: contain;
        z-index: 15;
        background-position-y: 0;
        background-position-x: 0;
        width: 155px;
        height: 60px;
    }
}

@media screen and (max-width: 880px) {
    .desktop-tablet-view {
        display: none;
    }

    .mobile-view {
        display: block;
    }

    #logo {
        background-size: 200px auto;
        background-position-x: -99px;
        z-index: 15;
        background-position-y: -16px;
        width: 101px;
        height: 50px;
    }

    header h1.page-title {
        padding: 10px 0 10px 135px;
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 737px) {
    .box {
        border: 0;
        border-top: 1px solid #dcddde;
        border-bottom: 1px solid #dcddde;
        background: #fff;
        padding: 24px 16px;
        margin-bottom: 10px;
    }

    .desktop-tablet-view {
        display: block;
    }

    .mobile-view {
        display: none;
    }

    #map {
        width: 100%;
        height: 212px;
        border: solid 1px #c7c8ca;
        border-left: 0;
        border-right: 0;
    }

    #logo {
        position: absolute;
        z-index: 2;
        background: url(/static/images/logo4.png);
        background-repeat: no-repeat;
        background-size: 178px;
        background-position-x: -92px;
        background-position-y: -12px;
        width: 89px;
        height: 48px;
        left: 0;
        top: 0;
    }

    .report-footer button {
        margin-top: 12px;
    }

    .report-footer button.prev {
        margin-left: 24px;
    }
}

.box.box-with-map {
    padding: 24px 0 8px 0;
}

.box.box-with-map h1 {
    padding: 0 25px 5px 0;
    margin-left: 16px;
}

.box.box-with-map p {
    padding-left: 25px;
    padding-right: 25px;
}

.box.box-with-map p.noPadding {
    padding-left: 0;
    padding-right: 0;
}

.box.box-with-map .btnRow {
    margin-top: 10px;
}

.box.box-with-map .loc-match, .box.box-with-map .confirmation-box, .box.box-with-map .btnRow {
    padding: 0 16px;
    margin: 16px 0;
}

.box.box-with-map h1.icon {
    padding-left: 30px;
}

.icon {
    padding-left: 30px !important;
}

.icon-vehicle {
    display: inline-block;
    width: 100%;
    min-height: 24px;
    background-image: url(images/car-pin.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 0 0;
}

.icon-geo-location {
    display: inline-block;
    width: 100%;
    min-height: 24px;
    background-image: url(images/target.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 0 0;
}

.icon-tick {
    display: inline-block;
    width: 100%;
    min-height: 24px;
    background-image: url(../images/tick-icon.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 0 3px;
}

.pointer.completed {
    cursor: pointer;
}

.steps-indicator > .pointer {
    cursor: pointer;
}

.steps-indicator > .pointer.active {
    cursor: pointer;
}

.pointer.inactive, .pointer.active {
    cursor: default;
}

.hidden-image {
    background-image: url("images/backBtn.png");
    display: none;
}

ul {
    padding-inline-start: 20px;
}

li {
    margin-bottom: 5px;
}

.safety-advice-text {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    margin-bottom: 13px;
    color: #2b2d32;
}

.safety-advice-text .text-style-1 {
    font-weight: bold;
}

.safety-advice-text .text-style-2 {
    font-weight: bold;
    color: #06757f;
}

.safety-page h1 {
    font-family: "NewTransport-Bold", Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.25px;
    color: #2b2d32;
    padding: 0;
    margin-bottom: 12px;
    margin-top: 10px;
}

.safety-page h2 {
    font-family: "NewTransport-Light", Arial, Helvetica, Verdana, sans-serif;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: #2b2d32;
    padding: 0;
    margin-bottom: 12px;
}

.safety-page ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
}

.safety-page ul li {
    padding-left: 21px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
    color: #2b2d32;
    position: relative;
}

.safety-page ul li p {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
    color: #2b2d32;
    margin-top: 10px;
}

.safety-page ul li:before {
    content: '';
    height: 4px;
    width: 4px;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 5px;
    background: #1d1d1d;
}

.safety-page ul li ul {
    margin-left: 40px;
    margin-top: 16px;
}

.safety-page p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
}

.safety-page .cta-container {
    max-width: 230px;
    margin-top: 16px;
}

.safety-page .cta-container .btn-full-width {
    max-width: 230px;
    letter-spacing: 0.2px;
}

.safety-page .cta-container .confirmation-btn {
    margin-top: 16px;
}

.safety-page .cta-container p {
    margin-top: 12px;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.07px;
}

.safety-page .cta-container p > a.call, .safety-page .cta-container p a.call:visited {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
    font-weight: normal;
}

.safety-page .cta-container p > a.call {
    pointer-events: none;
}

@media screen and (max-width: 1030px) {
    .safety-advice-text {
        font-size: 14px;
    }

    .safety-page h1 {
        margin-bottom: 4px;
        margin-top: 10px;
    }

    .safety-page h2 {
        font-family: "NewTransport-Bold", Arial, Helvetica, Verdana, sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.25px;
        color: #2b2d32;
        padding: 0;
        margin-bottom: 12px;
    }

    .safety-page ul li {
        padding-left: 21px;
        font-family: Arial, Helvetica, Verdana, sans-serif;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 12px;
        color: #2b2d32;
        position: relative;
    }

    .safety-page ul li p {
        font-size: 14px;
        line-height: 20px;
    }

    .safety-page ul li ul {
        margin-left: 30px;
        margin-top: 16px;
    }

    .safety-page .cta-container {
        max-width: 230px;
        margin: 16px 0 0 0;
    }
}

@media screen and (max-width: 737px) {
    .safety-advice-text {
        font-size: 14px;
    }

    .safety-page ul li {
        padding-left: 21px;
        font-family: Arial, Helvetica, Verdana, sans-serif;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 12px;
        color: #2b2d32;
        position: relative;
    }

    .safety-page ul li p {
        font-size: 14px;
        line-height: 20px;
    }

    .safety-page ul li ul {
        margin-left: 20px;
        margin-top: 12px;
    }

    .safety-page p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 12px;
    }

    .safety-page .cta-container {
        margin: 12px auto 0;
        max-width: 100%;
    }

    .safety-page .cta-container .btn-full-width {
        max-width: 100%;
    }

    .safety-page .cta-container p {
        margin-top: 16px;
    }

    .safety-page .cta-container p > a.call {
        pointer-events: all;
    }
}

.radio-label-on {
    font-weight: bold !important;
}

form {
    margin: 0;
}

.forward.ng-enter, .forward.ng-leave {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    position: absolute;
    width: 100%;
}

.backward.ng-enter, .backward.ng-leave {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    position: absolute;
    width: 100%;
}

.forward.ng-enter {
    z-index: 100;
    left: 100%;
}

.forward.ng-enter.ng-enter-active {
    left: 0;
    right: 0;
}

.forward.ng-leave {
    z-index: 101;
    left: 0;
}

.forward.ng-leave.ng-leave-active {
    left: -100%;
}

.backward.ng-enter {
    z-index: 100;
    left: -100%;
}

.backward.ng-enter.ng-enter-active {
    left: 0;
}

.backward.ng-leave {
    z-index: 101;
    left: 0;
}

.backward.ng-leave.ng-leave-active {
    left: 100%;
}

.careta {
    position: absolute;
    right: 1em;
    top: 13px;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: 24px;
    background-image: url(../images/down.svg);
    background-repeat: no-repeat;
}

.btn-group.dropdown {
    background: #fff;
    font-size: 16px;
    /*box-shadow: 0 0 4px 0 rgba(167, 169, 172, 0.32);*/
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-weight: normal;
    max-width: 360px;
}

.btn-group.dropdown .btn-default {
    text-align: left;
}

.btn-group.dropdown .btn-default:hover, .btn-group.dropdown .btn-default:focus {
    background-color: #fefbf1;
}

.btn-group.dropdown.open .careta {
    top: 10px;
    transform: rotate(180deg);
}

.btn-group.dropdown.open button {
    background-color: #fefbf1;
    -moz-box-shadow: inset 0 0 1px 1px #fde079, 0 0 2px 1px rgba(167, 169, 172, 0.2);
    -webkit-box-shadow: inset 0 0 1px 1px #fde079, 0 0 2px 1px rgba(167, 169, 172, 0.2);
    background-color: #fefbf1;
    box-shadow: inset 0 0 1px 1px #fde079, 0 0 2px 1px rgba(167, 169, 172, 0.2);
}

.btn-group.dropdown li {
    padding: 0.6em 1.2em;
    line-height: 19px;
    color: #747474;
    background: #fff;
    font-size: 16px;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.btn-group.dropdown li:hover {
    background: #dcddde;
}

.messageContainer p {
    width: 100%;
    height: 17px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 1.21;
    letter-spacing: 0.1px;
    text-align: left;
    color: #da0076;
    display: inline;
}

.messageContainer .error {
    background-image: url(../images/error-icon.png);
    background-repeat: no-repeat;
    padding-right: 20px;
}

.hasError {
    border-color: #da0076 !important;
    box-shadow: inset 0 0 0 1px #ec7fba !important;
}

#simple-btn-keyboard-nav {
    font-size: 14px;
    width: 100%;
    height: 48px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

#stepsNavContainer {
    position: relative;
}

#stepsNavContainer #step-mask {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
}

.staticMarker {
    width: 41px;
    height: 40px;
    position: absolute;
    background-image: url(/static/images/marker.png);
    margin-top: -20px;
}

#map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.safety-page h1 {
    font-family: "NewTransport-Bold", Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.25px;
    color: #2b2d32;
    padding: 0;
    margin-bottom: 12px;
    margin-top: 10px;
}

.safety-page h2 {
    font-family: "NewTransport-Light", Arial, Helvetica, Verdana, sans-serif;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: #2b2d32;
    padding: 0;
    margin-bottom: 12px;
}

.safety-page ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
}

.safety-page ul li {
    padding-left: 21px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
    color: #2b2d32;
    position: relative;
}

.safety-page ul li p {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
    color: #2b2d32;
    margin-top: 10px;
}

.safety-page ul li:before {
    content: '';
    height: 4px;
    width: 4px;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 5px;
    background: #1d1d1d;
}

.safety-page ul li ul {
    margin-left: 40px;
}

.safety-page p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
}

.safety-page .cta-container {
    max-width: 230px;
    margin-top: 16px;
}

.safety-page .cta-container p {
    margin-top: 12px;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.07px;
}

.safety-page .cta-container p > a.call, .safety-page .cta-container p a.call:visited {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: normal;
}

.safety-page .cta-container p > a.call {
    pointer-events: none;
}

@media screen and (max-width: 1030px) {
    .safety-page h1 {
        margin-bottom: 4px;
        margin-top: 10px;
    }

    .safety-page h2 {
        font-family: "NewTransport-Bold", Arial, Helvetica, Verdana, sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.25px;
        color: #2b2d32;
        padding: 0;
        margin-bottom: 12px;
    }

    .safety-page ul li {
        padding-left: 21px;
        font-family: Arial, Helvetica, Verdana, sans-serif;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 12px;
        color: #2b2d32;
        position: relative;
    }

    .safety-page ul li p {
        font-size: 14px;
        line-height: 20px;
    }

    .safety-page ul li ul {
        margin-left: 30px;
    }

    .safety-page .cta-container {
        max-width: 230px;
        margin: 16px 0 0 0;
    }
}

@media screen and (max-width: 737px) {
    .safety-page ul li {
        padding-left: 21px;
        font-family: Arial, Helvetica, Verdana, sans-serif;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 12px;
        color: #2b2d32;
        position: relative;
    }

    .safety-page ul li p {
        font-size: 14px;
        line-height: 20px;
    }

    .safety-page ul li ul {
        margin-left: 20px;
    }

    .safety-page p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 12px;
    }

    .safety-page .cta-container {
        margin: 12px auto 0;
        max-width: 100%;
    }

    .safety-page .cta-container p {
        margin-top: 16px;
    }

    .safety-page .cta-container p > a.call {
        pointer-events: all;
    }
}

.brokendown {
    margin-left: 150px;
    line-height: 48px;
    text-transform: none;
    font-weight: bold;
    color: #2b2d32;
}

@media screen and (max-width: 737px) {
    .brokendown {
        display: block;
        float: left;
        margin-left: 100px;
        text-transform: none;
        font-family: "NewTransport-Bold", Arial, Helvetica, Verdana, sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #1d1d1d;
        letter-spacing: -0.25px;
        line-height: 48px;
    }
}

/*added for the css update 16aug19*/
/*user details form*/
#container-userdetails input.form-control {
    max-width: 360px;
}

#container-userdetails textarea.form-control {
    max-width: 360px;
}

#container-userdetails .form-group .btn-full-width {
    max-width: 140px;
}

#container-userdetails input.form-control.sort-code {
    max-width: 172px;
}

#container-userdetails textarea.form-control.remarks {
    height: 130px;
    resize: none;
}

#container-wrap textarea.form-control.remarks {
    height: 130px;
    resize: none;
}

#container-userdetails .box:first-child, #container-userdetails .box:nth-child(2) {
    margin-bottom: 24px;
}

#container-wrap .box:first-child {
    margin-bottom: 24px;
}

#container-userdetails h2 {
    font-size: 24px;
    letter-spacing: -0.5px;
    color: #2b2d32;
}

#container-userdetails label {
    margin-right: 16px;
    font-size: 15px;
    line-height: 24px;
}

.membership-type .radio-choice-wrap {
    margin-top: 16px;
}

.hidden-details {
    display: none;
}

.hiddenlabel {
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
    color: #2b2d32;
}

.membershipType .radio-choice:last-child {
    width: 30%;
}

.help-message-show {
    margin-left: 34px;
    margin-top: 4px;
}

/*user details form -media queries*/
@media screen and (max-width: 1030px) {
    .membershipType .radio-choice {
        width: 100%;
        margin-bottom: 12px;
    }

    .membershipType .radio-choice:last-child {
        width: 100%;
        margin-bottom: 0;
    }

    #container-userdetails h2 {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.25px;
    }

    #container-userdetails label {
        display: inline;
    }
}

@media screen and (max-width: 737px) {
    #container-userdetails input.form-control {
        max-width: 100%;
    }

    #container-userdetails textarea.form-control {
        max-width: 100%;
    }

    #container-wrap textarea.form-control {
        max-width: 100%;
    }

    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    #container-userdetails label {
        margin-right: 5px;
        display: inline-block;
    }

    #container-userdetails h2 {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.25px;
    }

    .membership-type label {
        margin-left: 0;
    }

    .membership-type .radio-choice-wrap .radio-choice input[type=radio] {
        width: 2.4em;
    }

    #container-userdetails .user-details-btn {
        margin: 20px 0 0;
    }

    #container-userdetails .mb-styled-checkbox + label {
        padding-left: 34px;
        display: inline-block;
    }

    .mb-styled-checkbox + label {
        padding-left: 34px;
        display: inline-block;
    }

    #container-userdetails .mb-styled-checkbox + label:before, .mb-styled-checkbox + label:before {
        position: absolute;
        left: 0;
    }

    #container-userdetails .mb-styled-checkbox:checked + label:after, .mb-styled-checkbox:checked + label:after {
        top: 5px;
    }

    .btn-full-width, .btn-full-secondary {
        max-width: 100%;
    }

    h1 {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.25px;
        text-align: left;
        color: #1d1d1d;
        font-family: "NewTransport-Bold", Arial, Helvetica, Verdana, sans-serif;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 16px;
    }

    .btn-group.dropdown, .form-group input.form-control {
        max-width: 100%;
    }

    .cta-container .desktop-tablet-view a {
        color: #1d1d1d;
        text-decoration: underline;
        font-weight: normal;
    }

    .box.box-with-map .loc-match, .box.box-with-map .confirmation-box, .box.box-with-map .btnRow {
        margin: 24px 0 16px;
    }
}

.checkbox-row {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-top: 10px;
}

.mb-styled-checkbox {
    position: absolute;
    opacity: 0;
}

.mb-styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    color: #2b2d32;
    display: inline;
}

.mb-styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    background: white;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.mb-styled-checkbox:checked + label {
    font-weight: bold;
}

.mb-styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}

.mb-styled-checkbox:disabled + label:before {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #ddd;
}

.mb-styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: url(../images/checkbox-tick-x2.png) no-repeat center;
    background-size: contain;
    left: 5px;
    top: 4px;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.checkbox-row input[type=checkbox] {
    height: 26px;
    width: 26px;
    margin: 0;
}

.mb-styled-checkbox + label + div {
    display: none;
}

.mb-styled-checkbox:checked + label + div {
    display: block;
}

.vehicle-prob-box label {
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #1d1d1d;
    letter-spacing: -0.23px;
    font-size: 14px;
    text-align: center;
    color: #1d1d1d;
    line-height: normal;
    font-weight: normal;
    padding: 10px 12px;
    min-width: 60px;
    white-space: nowrap;
    margin: 8px;
    float: left;
    width: auto;
}
.btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.btn-check:active + .btn-outline-primary, .btn-check:checked + .btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

/*info icons*/
.input-info-inline {
    font-family: "NewTransport-Italic", Arial, Helvetica, Verdana, sans-serif;
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
    color: #1d1d1d;
}

.input-info-inline span.info-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(images/info-icon.svg) no-repeat left center;
    background-size: contain;
    position: relative;
    top: 2px;
    margin-right: 8px;
    margin-top: 8px;
}

.info-inline {
    display: inline-block;
    height: 16px;
    width: 16px;
    position: relative;
    top: 3px;
    left: -6px;
    background-image: url(../images/info-icon-blue.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.info-message {
    position: relative;
    font-family: "NewTransport-Italic", Arial, Helvetica, Verdana, sans-serif;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 20px;
    color: #1d1d1d;
}

.info-message > span.close-tip {
    display: inline-block;
    background-image: url(../images/close-icon-dark.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    top: 4px;
    margin-left: 8px;
    cursor: pointer;
}

.membership-info-inline {
    max-width: 346px;
}

.info-Text {
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2b2d32;
    background: url(../images/info-icon.svg) no-repeat left center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding-left: 22px;
    display: block;
}

@media screen and (max-width: 737px) {
    .membership-info-inline {
        max-width: 90%;
    }

    .info-Text {
        font-size: 14px;
        font-style: italic;
        line-height: 1.43;
        color: #1d1d1d;
    }
}

/*newly added*/
.map-info-text {
    display: block;
    margin-left: 50px;
    padding-left: 22px;
    background-image: url(images/map-info.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 0 2px;
    margin-top: 8px;
    font-family: "NewTransport-Italic", Arial, Helvetica, Verdana, sans-serif;
    font-style: italic;
}

.btn {
    padding: 6px 16px;
}

.btn-group.dropdown .btn-default:focus {
    -moz-box-shadow: inset 0 0 1px 2px #fbc400, 0 0 2px 1px rgba(167, 169, 172, 0);
    -webkit-box-shadow: inset 0 0 1px 2px #fbc400, 0 0 2px 1px rgba(167, 169, 172, 0);
    background-color: #fefbf1;
    box-shadow: inset 0 0 1px 2px #fbc400, 0 0 2px 1px rgba(167, 169, 172, 0);
    border: 0;
}

.dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 2px solid #fbc400;
    border-top: 2px solid #ccc;
    padding: 0;
    margin: -2px 0 0 0;
}

.btn-group.dropdown li {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    color: #1d1d1d;
}

.btn-group.dropdown.open {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0;
    border-color: #fbc400;
}

/*tablet changes*/
@media screen and (min-width: 738px) and (max-width: 1030px) {
    .box.box-with-map {
        border-right: 0;
        border-left: 0;
        padding: 30px 125px 30px;
    }

    .box.box-with-map h1 {
        font-family: "NewTransport-Bold", Arial, Helvetica, Verdana, sans-serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        margin-left: 0;
    }

    #map {
        border: 1px solid #cfd0d1;
    }

    .box.box-with-map .loc-match, .box.box-with-map .confirmation-box {
        padding: 0;
    }
}

/*uber-number plate form*/
.plateLookUp label.control-label {
    margin-bottom: 8px;
    font-size: 15px;
    font-family: "NewTransport-Regular", Arial, Helvetica, Verdana, sans-serif;
    font-weight: normal;
    color: #1d1d1d;
}

.radio-choice-wrap.number-plate-radios .radio-choice {
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: solid 1px #aaacaf;
    vertical-align: middle;
}

.radio-choice-wrap.number-plate-radios .radio-choice.selected-option {
    border: solid 1px #fbc400;
    box-shadow: inset 0 0 1px 2px #fbc400, 0 0 2px 1px rgba(167, 169, 172, 0);
}

.radio-choice-wrap.number-plate-radios .radio-choice input[type="radio"] {
    float: right;
}

.radio-choice-wrap.number-plate-radios .radio-choice .circle {
    right: 16px;
    left: initial;
}

.radio-choice-wrap.number-plate-radios .radio-choice[data-type="radio"]:before {
    right: 16px;
    left: initial;
}

.radio-choice-wrap.number-plate-radios .radio-choice label {
    font-family: 'NewTransport-Bold', Arial, Verdana, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 16px;
    letter-spacing: 0.25px;
    font-weight: inherit;
    line-height: 1.25;
}

.radio-choice-wrap.number-plate-radios .radio-choice label > span {
    position: relative;
    top: calc(50% - 11px);
    transform: translateY(calc(50% - 11px));
    left: 16px;
}

.confirmDetails .user-details {
    padding: 16px;
}

.confirmDetails .user-details p {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #2b2d32;
    letter-spacing: 0;
}

.confirmDetails .user-details p:nth-child(even) {
    margin-bottom: 16px;
}

.confirmDetails .user-details p:nth-child(odd) {
    margin-bottom: 4px;
}

.confirmDetails .user-details p:last-child {
    margin-bottom: 0;
}

.confirmDetails .greyBg {
    background: #f5f5f5;
}

.confirm-details .confirm-msg {
    margin-top: 16px;
    margin-bottom: 24px;
}

.confirm-details .confirm-msg p {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #2b2d32;
    letter-spacing: 0;
    margin: 0;
}

.confirm-details .next-button {
    margin-top: 11px;
}

.not-listed p {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #2b2d32;
    letter-spacing: 0;
    margin: 0 0 24px 0;
}

.not-listed p:last-child {
    margin-bottom: 0;
}

@media (max-width: 320px) {
    .brokendown {
        display: none;
    }
}
/*///////////////////////////////*/
@media (min-width: 992px) {
    .col-md-6 {
        width: 50%;
    }
}
@media (min-width: 992px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }
}
.col-xs-6 {
    width: 50%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
#progressBar {
    width: 100%;
    margin: 10px auto;
    height: 22px;
    /*background-color: #0A5F44;*/
    padding-right: 15px;
    padding-left: 15px;
}

#progressBar div {
    height: 100%;
    text-align: right;
    padding: 0 10px;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #fdc500;
    box-sizing: border-box;
}
input, input:before, input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}
.valid {
    border: 1px solid green;
}

.invalid {
    border: 1px solid red;
}
/*# sourceMappingURL=styles.css.map */