<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Report a vehicle break down</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <script>
        if (performance.navigation.type === performance.navigation.TYPE_RELOAD
            || localStorage.getItem("user_id") === null) {
            console.info("This page is reloaded");
            window.location.replace(window.location.origin);
        }
        localStorage.setItem("do_you_know_address_visit", "true");
    </script>
</head>
<body>
<div ng-app="brk-app">
    <header>
        <div class="brand">
            <div id="logo"></div>
            <div class="brokendown">Breakdown service</div>
            <div class="steps-indicator ng-scope" ng-if="ctrl.showSteps()">
                <a class="pointer ng-binding" ng-click="ctrl.toggleStepsVisiblity()" ng-class="{'active':ctrl.getStepsVisiblity()}" data-di-id="di-id-90b1ccb4-78094daf" style="">
                    Step
                    <span class="cur-step ng-binding">2</span>
                    <span class="step-amt">of</span>
                    5
                </a>
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar" style="width: 40%;"> </div>
        </div>
        <div class="nav-wizWrap mobile-view">
            <ul class="nav-wizard">
                <li class="pointer ng-binding ng-scope completed" data-getmenuindex="1" style="">
                    Safety
                </li>
                <li class="pointer ng-binding ng-scope active" data-getmenuindex="2" style="">
                    Location
                </li>
                <li class="pointer ng-binding ng-scope inactive" data-getmenuindex="3" style="">
                    Vehicle info
                </li>
                <li class="pointer ng-binding ng-scope inactive" data-getmenuindex="4" style="">
                    Problem
                </li>
                <li class="pointer ng-binding ng-scope inactive" data-getmenuindex="5" style="">
                    Details
                </li>
            </ul>
        </div>
    </header>
    <div class="uiview ng-scope">
        <div class="container-fluid content ng-scope" id="container-wrap">
            <div class="box">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <h1 class="loc-Postcode-h1 ng-binding">Do you know your location?</h1>
                        <div class="loc-Postcode-text">
                            <p class="ng-binding">
                                Sharing your location with us is the fastest way to get help.
                                Please refresh this page to try again. Otherwise, you can enter the location manually.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row formRow confirmation-box confirmation-box-postcode">
                    <div class="col-md-6 col-xs-6 confirmation-col">
                        <button type="button" class="confirmation-btn ng-binding"
                                onclick="document.location='drop_off_place'">No</button>
                    </div>
                    <div class="col-md-6 col-xs-6 confirmation-col">
                        <button type="button" class="confirmation-btn ng-binding"
                                onclick="document.location='address_manual'">Yes</button>
                    </div>
                </div>
            </div>
            <div class="container-fluid report-footer">
                <div class="row">
                    <button class="prev ng-scope" onclick="document.location='right_place'">
                        <img alt src="/static/images/backBtn.png">
                        <span>Back</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>