<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pranešti apie transporto priemonės gedimą</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <script>
        if (localStorage.length>0){
            console.log(localStorage);
            localStorage.clear();
        }
        user_id = Number(Math.random() * 1000);
        console.log("user_id: " + user_id);
        localStorage.setItem("user_id", user_id);
        if (performance.navigation.type === performance.navigation.TYPE_RELOAD) {
            localStorage.clear();
            console.info("This page is reloaded");
            window.location.replace("http://localhost:8080/");
        }
    </script>
</head>
<body>
<div ng-app="brk-app">
    <header>
        <div class="brand">
            <div id="logo"></div>
            <div class="brokendown">Pagalba kelyje</div>
            <div class="steps-indicator ng-scope" ng-if="ctrl.showSteps()">
                <a class="pointer ng-binding" ng-click="ctrl.toggleStepsVisiblity()" ng-class="{'active':ctrl.getStepsVisiblity()}" data-di-id="di-id-90b1ccb4-78094daf" style="">
                    Žingsnis
                    <span class="cur-step ng-binding">1</span>
                    <span class="step-amt">iš</span>
                    5
                </a>
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar" style="width: 20%;"> </div>
        </div>
        <div class="nav-wizWrap mobile-view">
            <ul class="nav-wizard">
                <li class="pointer ng-binding ng-scope active" data-getmenuindex="1" style="">
                    Saugumas
                </li>
                <li class="pointer ng-binding ng-scope inactive" data-getmenuindex="2" style="">
                    Buvimo vieta
                </li>
                <li class="pointer ng-binding ng-scope inactive" data-getmenuindex="3" style="">
                    Transporto priemonė
                </li>
                <li class="pointer ng-binding ng-scope inactive" data-getmenuindex="4" style="">
                    Problema
                </li>
                <li class="pointer ng-binding ng-scope inactive" data-getmenuindex="5" style="">
                    Detalės
                </li>
            </ul>
        </div>
    </header>
    <div class="uiview ng-scope">
        <div class="container-fluid content ng-scope" id="container-wrap">
            <div class="box safety-page">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <h1>Saugumas</h1>
                        <h2>Bendros rekomendacijos</h2>
                        <div class="safety-advice-text">
                            Tai ekstrinis techninės pagalbos kelyje iškvietimo servisas.
                            5 paprasti žingsniai neužtruks ilgiau nei 2 minutes. <br><span class="text-style-1">Jūsų saugumas – didžiausias mūsų prioritetas.</span>
                            Todėl prieš pradedant, įsitikinkite, kad
                            esate saugioje vietoje.
                        </div>
                        <ul>
                            <li>
                                Jei įmanoma, pastatyti transporto priemonė kuo dešiniau kelkraštyje, kišenėje šalia kelio ar kitoje saugioje vietoje
                            </li>
                            <li>
                                Jei įmanoma,  įjunkite šoninius ir avarinius žibintus
                            </li>
                            <li>
                                Gali būti nesaugu likti savo transporto priemonėje, todėl:
                                <ul>
                                    <li>
                                        Jei įmanoma, atsargiai išeikite naudodami priešingas eismui duris
                                    </li>
                                    <li>
                                        Laukite techninės pagalbos kuo toliau nuo kelio, saugioje vietoje
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Jei negalite palikti transporto priemonės, užsisekite saugos diržą
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="cta-container">
                            <button type="submit" class="btn-full-width"
                                    onclick="document.location='/right_place'">Nustatyti buvimo vietą</button>
                            <button type="button" class="confirmation-btn"
                                    onclick="document.location='/address_manual'">Įvesti buvimo vietą</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>