<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pranešti apie transporto priemonės gedimą</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <script type="text/javascript" src="/static/util.js"></script>
    <script>
        // user_id = Number(Math.random() * 1000);
        // console.log("user_id: " + user_id);
        // localStorage.setItem("user_id", user_id);
        if (performance.navigation.type === performance.navigation.TYPE_RELOAD
            || localStorage.getItem("user_id") === null) {
            console.info("This page is reloaded");
            window.location.replace("http://localhost:8080/");
        }
        console.log(localStorage)
    </script>
</head>
<body>
<div ng-app="brk-app">
    <header>
        <div class="brand">
            <div id="logo"></div>
            <div class="brokendown">Pagalba kelyje</div>
            <div class="steps-indicator ng-scope" ng-if="ctrl.showSteps()">
                <a class="pointer ng-binding" ng-click="ctrl.toggleStepsVisiblity()" ng-class="{'active':ctrl.getStepsVisiblity()}" data-di-id="di-id-90b1ccb4-78094daf" style="">
                    Žingsnis
                    <span class="cur-step ng-binding">3</span>
                    <span class="step-amt">iš</span>
                    5
                </a>
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar" style="width: 60%;"> </div>
        </div>
        <div class="nav-wizWrap mobile-view">
            <ul class="nav-wizard">
                <li class="pointer ng-binding ng-scope completed" data-getmenuindex="1" style="">
                    Saugumas
                </li>
                <li class="pointer ng-binding ng-scope completed" data-getmenuindex="2" style="">
                    Buvimo vieta
                </li>
                <li class="pointer ng-binding ng-scope active" data-getmenuindex="3" style="">
                    Transporto priemonė
                </li>
                <li class="pointer ng-binding ng-scope inactive" data-getmenuindex="4" style="">
                    Problema
                </li>
                <li class="pointer ng-binding ng-scope inactive" data-getmenuindex="5" style="">
                    Detalės
                </li>
            </ul>
        </div>
    </header>
    <div class="uiview ng-scope forward">
        <div class="container-fluid content ng-scope" id="container-wrap">
            <div class="box address_manual">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <h1 class="ng-binding">Duomenys apie transporto priemonę</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <div class="btn-group dropdown" style="width:100%">
                                <form method="get" action="/problem">
                                    <label for="number-plate">Numeris</label>
                                    <div>
                                        <input
                                                id="number-plate"
                                                class="controls btn btn-default ng-binding dropdown-toggle form-group input form-control"
                                                ng-maxlength="100"
                                                maxlength="100"
                                                type="text"
                                                placeholder="EMK 753"
                                        />
                                    </div>
                                    <label for="vehicle-color">Spalva</label>
                                    <div>
                                        <input
                                                id="vehicle-color"
                                                class="controls btn btn-default ng-binding dropdown-toggle form-group input form-control"
                                                ng-maxlength="100"
                                                maxlength="100"
                                                type="text"
                                                placeholder="Pilka"
                                        />
                                    </div>
                                    <label for="vehicle-maker">Gamintojas</label>
                                    <div>
                                        <input
                                                id="vehicle-maker"
                                                class="controls btn btn-default ng-binding dropdown-toggle form-group input form-control"
                                                ng-maxlength="100"
                                                maxlength="100"
                                                type="text"
                                                placeholder="BMW"
                                        />
                                    </div>
                                    <label for="vehicle-model">Modelis</label>
                                    <div>
                                        <input
                                                id="vehicle-model"
                                                class="controls btn btn-default ng-binding dropdown-toggle form-group input form-control"
                                                ng-maxlength="100"
                                                maxlength="100"
                                                type="text"
                                                placeholder="520d"
                                        />
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <button type="submit"
                                                    class="btn-full-secondary ng-scope ng-binding"
                                            onclick="getVehicleDetails()">
                                                Patvirtinti
                                            </button>
                                        </div>
                                        <div class="col-md-12 col-xs-12 address-row">
                                            <p>
                                                <a href="personal_details" class="ng-binding">Neturite šios informacijos?</a>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid report-footer">
                <div class="row">
                    <button class="prev ng-scope" onclick="rightUrl_VehicleDetails()">
                        <img alt src="/static/images/backBtn.png">
                        <span>Atgal</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>